@import "tailwindcss";

@theme {
  /* Berdasarkan palet gambar */
  --color-primary-50: #FAFAFD; /* Background utama */
  --color-primary-100: #EEEFFD; /* Secondary buttons / list bg */
  --color-primary-500: #5B65DC; /* Accent color (Buttons, Links) */
  --color-primary-600: #4a54c8; /* Hover state untuk tombol */
  --color-primary-900: #122056; /* Text color & dark elements */
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  @apply bg-primary-50 text-primary-900;
}
